*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:Arial, Helvetica, sans-serif;
}
/*Cuerpo de la pagina*/
body {
    margin: 0;
    background-color:#c7c7c7;
  }
.header-content{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 12px 30px;
  z-index: 1;
  position: relative;
  background: black;
}
.header-social{
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  padding-left: 30px;
  display: flex;
  align-items: center;
  font-size: 20px;
}
.social-logo{
    display: flex;
    background-color: #000000;
    padding-top: 1%;
    text-align: center;
    align-items: center;
    justify-content: center;
}
.logo{
  width: 6%;
}

.icon-shopping-bag{
  display: flex;
  color: white;
  position: absolute;
  top: 50%;
  right: 5%;
  bottom: 0;
  font-size: 25px;
  text-decoration: none;
}
.icon-search{
  display: flex;
  color: white;
  position: absolute;
  top: 50%;
  right: 10%;
  bottom: 0;
  font-size: 25px;
  text-decoration: none;
  cursor: pointer;
}
.icon-ig{
  display: flex;
  color: white;
  position: absolute;
  top: 50%;
  left: 5%;
  bottom: 0;
  font-size: 25px;
  text-decoration: none;
}
.icon-fb{
  display: flex;
  color: white;
  position: absolute;
  top: 50%;
  left: 10%;
  bottom: 0;
  font-size: 25px;
  text-decoration: none;
}
@media (max-width:450px){
  .logo{
    max-width: 100%;
    width: 15%;
    padding-top: 2%;
  }
.icon-shopping-bag{
  max-width: 100%;
  padding: 0px 10px 0px 0px;
  }
.icon-search{
  max-width: 100%;
  padding: 0px 20px 0px 0px;
  }
.icon-ig{
  max-width: 100%;
  padding: 0px 0px 0px 10px;
  }
.icon-fb{
  max-width: 100%;
  padding: 0px 0px 0px 20px;
  } 
}
/*PopUp bolsa vacía*/
.overlay {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
    transition: opacity 500ms;
    visibility: hidden;
    opacity: 0;
    z-index: 105;
}
.overlay:target {
    visibility: visible;
    opacity: 1;
}
#popupBody{
    width: 46%;
    padding: 2%;
    border-radius: 15px;
    box-shadow: 0 0 5px #CCC;
    background: #FFF;
    position: relative;
    transition: all 5s ease-in-out;
    margin: 20% auto;    
}
#cerrar{
    position: absolute;
    top: 0px;
    right: 15px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: rgb(0, 0, 0);
}
@media (max-width:600px) {
  #popupBody{
    width: 100%;
  }
}

/*Barra de navegación*/
/*Importan diferentes fuentes de texto*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
nav{
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 70px;
background: #000000;
box-shadow: 0 1px 2px rgb(0, 0, 0.2);
z-index: 100;
}
nav .navbar{
  height: 100%;
  max-width: 1920px;
  background: #000000;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 50px;
}

nav .navbar .nav-links{
height: 100%;
line-height: 70px;
}
nav .navbar .nav-links .links{
display: flex;
}
nav .navbar .nav-links .links li{
  position: relative;
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 100px;
}
nav .navbar .nav-links .links li a {
  height: 100%;
  color: white;
  text-decoration: none;
  white-space: nowrap;
  font-size: 16px;
  font-weight: 500;
}
nav .navbar .nav-links .links li .arrow {
  line-height: 70px;
  height: 100%;
  width: 20px;
  text-align:center;
  color: white;
  transition: all 0.3s ease;
}
.navbar .nav-links .links li:hover .qc, 
.navbar .nav-links .links li:hover .c,
.navbar .nav-links .links li:hover .s {
transform: rotate(180deg);
}
.navbar .nav-links .links .sub-menu{
  position: absolute;
  top: 70px;
  left: 0;
  background: rgb(0, 0, 0);
  line-height: 40px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 1px 2px rgb(0, 0, 0.2);
  display: none;
}
.navbar .nav-links .links .sub-menu li{
  border-bottom: 1px solid rgb(255, 255, 255);
}
.navbar .nav-links .links .sub-menu li a{
  color: rgb(255, 255, 255);
  font-size: 15px;
  font: 500;
}
.navbar .nav-links .links .sub-menu li .lujo{
  line-height: 40px;
}
.navbar .nav-links .links .more .more-sub-menu{
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  display: none;
}
.navbar .nav-links .links .more:hover .more-sub-menu{
  display: block;
}
.navbar .nav-links .links li:hover .qc-sub-menu,
.navbar .nav-links .links li:hover .c-sub-menu,
.navbar .nav-links .links li:hover .s-sub-menu{
   display: block;
}
.navbar .bx-menu,
.nav-links .slidebar-logo .logo_name,
.nav-links .slidebar-logo .bx-x{
display: none;
}
@media (max-width: 800px) {
  nav .navbar{
    max-width: 100%;
    padding: 0 25px;
  }
  nav .navbar .nav-links .links li{
    padding: 0 10px;
  }
  nav .navbar .nav-links .links li a{
    font-size: 15px;
  }
}
@media (max-width:430px){
  nav .navbar .nav-links{
    display: block;
    position: fixed;
    background: #000000;
    top: 0;
    left: -100%;
    max-width: 270px;
    width: 100%;
    padding: 20px;
    line-height: 40px;
    transition: all 0.5s ease;
    z-index: 100;
  }
  nav .navbar .nav-links .slidebar-logo{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .navbar .bx-menu,
  .nav-links .slidebar-logo .logo_name,
  .nav-links .slidebar-logo .bx-x{
    color: rgb(255, 255, 255);
    font-size: 25px;
    font-weight: 500;
  }
  .navbar .bx-menu,
  .nav-links .slidebar-logo .logo_name,
  .nav-links .slidebar-logo .bx-x{
    display: block;
  }
  .nav-links .slidebar-logo .bx-x{
    color: white;
    font-size: 25px;
    font-weight: 500;
  }
  nav .navbar .nav-links .links{
    display: block;
    margin-top: 20px;
  }
  nav .navbar .nav-links .links li{
    display: block;
  }
  .navbar .nav-links .links .sub-menu{
    display: none;
    position: relative;
    top: 0;
    left: 0;
    box-shadow: none;
  }
  .navbar .nav-links .links .sub-menu li{
    border-bottom: none;
  }
.navbar .nav-links .links li:hover .qc-sub-menu,
.navbar .nav-links .links li:hover .c-sub-menu,
.navbar .nav-links .links li:hover .s-sub-menu{
   display: none;
}
nav .navbar .nav-links .links li .arrow{
  line-height: 40px;
}
.navbar .nav-links .links li:hover .qc, 
.navbar .nav-links .links li:hover .c,
.navbar .nav-links .links li:hover .s {
transform: rotate(0deg);
}
.navbar .nav-links.show1 .links .sub-menu.qc-sub-menu{
  display: block;
}
.navbar .nav-links.show2 .links .more.more-sub-menu{
  display: none; 
}
.navbar .nav-links.show2 .links .sub-menu .lujo{
  transform: rotate(90deg);
}
.navbar .nav-links.show3 .links .sub-menu.c-sub-menu{
  display: block;
}
.navbar .nav-links.show4 .links .sub-menu.s-sub-menu{
  display: block;
}
.navbar .nav-links.show1 .links  li .qc, 
.navbar .nav-links.show3 .links  li .c,
.navbar .nav-links.show4 .links  li .s {
transform: rotate(180deg);
}
}
@media (max-width:370px){
  nav .navbar .nav-links{
    max-width: 100%;
  }
}
/*Caja de busqueda*/
.icon-search .search-box{
  position: relative;
  height: 40px;
  width: 40px;
}
.icon-search .search-box i{
  color: rgb(255, 255, 255);
  position: relative;
  height: 100%;
  width: 100%;
  line-height: 30px;
  text-align: center;
  font-size: 25px;
  font-weight: 600;
}
.icon-search .search-box .input-box{
  height: 60px;
  width: 300px;
  background: rgb(0, 0, 0);
  position: absolute;
  top: 50px;
  right: -10px;
  border-radius: 6px;
  border-style: solid;
  border-color: rgb(255, 255, 255);
  z-index: 1;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.icon-search .search-box .input-box::before{
  content: '';
  position: absolute;
  height: 20px;
  width: 20px;
  background: rgb(0, 0, 0);
  border-style: solid none none solid;
  border-color: rgb(255, 255, 255);
  right: 15px;
  top: -14px;
  transform: rotate(45deg);
} 
.icon-search .search-box .input-box input{
  position: absolute;
  height: 35px;
  width: 280px;
  z-index: 98;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  outline: none;
  border: none;
  border-radius: 4px;
  padding: 0px 4%;
  font-size: 16px;
}
.icon-search.showInput .search-box .input-box{
  opacity: 1;
  pointer-events: auto;
  top: 65px;

}

  /*Boton de WhatsApp*/
  .bxl-whatsapp-square{
    color: rgb(117, 117, 117);
    width: 4%;
    position: fixed;
    color: white;
    bottom: 20px;
    right: 25px;
    z-index: 99;
  }
  @media  (max-width:430px){
    .bxl-whatsapp-square{
      width: 15%;
    }
  }

  /*Carrusel principal*/
  .slider {
    width: 100%;
    margin: 0;
    overflow: hidden;
  }

  .slider ul {
    display: flex;
    padding: 10% 0% 0% 0%;
    margin: 0;
    width: 400%;

    animation: cambio 20s infinite alternate linear;
  }

  .slider li {
    width: 100%;
    list-style: none;
  }

  .slider img {
    width: 100%;
  }
@media (max-width: 450px){
  .slider ul{
    padding: 35% 0% 0% 0%;
  }
}
@keyframes animaLateralDer {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animaLateralDer2 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animaLateralDer3 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
@keyframes animaLateralDer4 {
  0% {
    opacity: 0;
    transform: translateX(200px);
  }

  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
figure{
  width: 100%;
  height: 100%;
  margin: 0px auto;
  overflow: hidden;
  position: relative;
}
#slider-anima{
  position: absolute;
  top: 0px;
  left: 0px;
}
@media (max-width: 450px){
  figure{
    margin-top: 35%;
  }
}
  @keyframes cambio {
    0% {
      margin-left: 0;
    }

    20% {
      margin-left: 0;
    }

    25% {
      margin-left: -100%;
    }

    45% {
      margin-left: -100%;
    }

    50% {
      margin-left: -200%;
    }

    70% {
      margin-left: -200%;
    }

    75% {
      margin-left: -300%;
    }

    100% {
      margin-left: -300%;
    }
  }
/*Separador*/
.separador{
  text-align:center ; 
  margin: 5%; 
  margin-bottom: 2%;
}
.separador-img{
  max-width:100%;height:auto;
}
.titles{
  text-align:center;
  margin: 1em;
  font-size: 25px;
}
.texts{
  margin: 1em;
}
.parrafo{
  text-align:center; 
  margin-left: 10%; 
  margin-right: 10%;
}
  /*Carrusel recomendadas*/
  * {
    box-sizing: border-box
  }

  .mySlides2 {
    display: none
  }
.first-img{
  display: block;
}
  img {
    max-width: 100%;
    vertical-align: top;
    vertical-align: middle;
  }
 

  /* Slideshow container */
  .slideshow-container2 {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }

  /* Botones de siguiente y anterior */
  .prev,
  .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Posicion del boton "next" a la derecha */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* Al pasar el mouse, agregue un color de fondo negro con un poco de transparencia  */
  .prev:hover,
  .next:hover {
    background-color: rgba(0, 0, 0, 0.8);
  }

  /* Caption text */
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }

  /* Number text (1/3 etc) */
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }

  /* The dots/bullets/indicators */
  .dot2 {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }

  .active,
  .dot2:hover {
    background-color: #717171;
  }

  /* Animación desvanecer */
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }

  @-webkit-keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  @keyframes fade {
    from {
      opacity: .4
    }

    to {
      opacity: 1
    }
  }

  /* En pantallas más pequeñas, reduzca el tamaño del texto */
  @media only screen and (max-width: 600px) {

    .prev,
    .next,
    .text {
      font-size: 11px
    }
  }
.recomend-center{
  text-align: center;
  margin-bottom: 4%;
}
/*animacion fotos*/
.scale-in-center {
	-webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
.scale-in-center:hover{
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}
 @-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
.imgreco{
  display: block;
  margin: 0 auto;
  max-width: 100%;
  width: 400px;
}

  .text{
    text-align:center;
    position: relative;
    top:190%; 
    margin-top: 5%;
  }
@media screen and (max-width:600px) {
  .text{
    margin-top: 10%;
  }
}
  .boton_personalizado{
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid #000000;
  }
  .boton_personalizado:hover{
    color: #000000;
    background-color: #afafaf;
  }
  /*Textos del cuadro final informacion*/
  .textofinal{
    color: white;
    text-shadow: 1px 1px 2px rgb(175, 175, 175);
    margin-top: 10%;
    margin-bottom: 10%;
  }

  .subtexto{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: left;
    text-decoration: none;
    margin-top: 10%;
  }
  .subtexto:hover{
    text-decoration: underline;
  }
  * {
    box-sizing: border-box;
  }
  @media screen  and (max-width:850px){
    .textofinal{
      font-size: 23px;
      margin-top: 5%;
      margin-bottom: 5%;
    }
    .subtexto{
      margin-top: 8%;
    }
  }
  /* Crea cuatro columnas iguales que floten una al lado de la otra */
  .column {
    background: #000000;
    float: left;
    width: 25%;
    padding: 10px;
    height: 300px; 
  }
  .row{
    margin-top: 5%;
  }
  /* Limpiar floats después de las columnas */
  .row:after {
    content: "";
    display: table;
    clear: both;
    margin-top: 5%;
  }
  
  /* Diseño responsive: hace que las cuatro columnas se apilen una encima de la otra 
  en lugar de una al lado de la otra. */
  @media screen and (max-width: 850px) {
    .column {
      width: 100%;
      height: 50%;
    }
  }
  .footer{
    margin: 2%;
  }
  /*mapa*/
  .mapouter{
    position:relative;
    text-align:right;
    width:100%;
    height:180px;
  }
  .gmap_canvas {
    overflow:hidden;
    background:none!important;
    width:100%;
    height:180px;
  }
  .gmap_iframe {
    height:180px!important;
  }
  .finkong{
    display: block;
    padding-left: 5%;
  }
  /*animacion texto*/
  .scale-in-center {
    padding:0px;
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
            transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
    opacity: 1;
  }
}
/*Ventana detalle gorras*/
.gorra-name{
  margin-top: 200px;
  text-align: center;
  margin-bottom: 0px;
}

/*---------------*/
#content-wrapper{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
}

.columnD{
	width: 600px;
	padding: 10px;
}
#featured{
	max-width: 500px;
	max-height: 600px;
	object-fit: cover;
	cursor: pointer;
  box-shadow: 2px 2px 2px 1px rgb(0, 0, 0,40%);
}

.thumbnail{
	object-fit: cover;
	max-width: 180px;
	max-height: 100px;
	cursor: pointer;
	opacity: 0.5;
	margin: 5px;
	border: 2px solid #c7c7c7;

}

.thumbnail:hover{
	opacity:1;
}

.active2{
	opacity: 1;
}

#slide-wrapper{
	max-width: 500px;
	display: flex;
	min-height: 100px;
	align-items: center;
}

#slider2{
	width: 440px;
	display: flex;
	flex-wrap: nowrap;
	overflow-x: auto;

}

#slider2::-webkit-scrollbar {
		width: 8px;
}

#slider2::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px #c7c7c7;
}
 
#slider2::-webkit-scrollbar-thumb {
  background-color: #000000;
  outline: 1px solid slategrey;
   border-radius: 100px;

}

#slider2::-webkit-scrollbar-thumb:hover{
    background-color: #474747;
}

.arrow2{
	width: 30px;
	height: 30px;
	cursor: pointer;
	transition: .3s;
}

.arrow2:hover{
	opacity: .5;
	width: 35px;
	height: 35px;
}
.hr{
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0px;
  border-top: 1px solid black;
}
.cantidad{
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%;
}
.detalles-gorra{
  margin-left: 3%;
  margin-top: 3%;
}

/*Caja cantidad*/
.quantity {
  display: flex;
  margin-top: 5%;
  margin-bottom: 5%; 
}
 
 .quantity .input-text.qty {
  width: 150px;
  height: 41px;
  padding: 0 5px;
  text-align: center;
  background-color: transparent;
  border: 1px solid #000000;
 }
 
 .quantity.buttons_added {
  text-align: left;
  position: relative;
  white-space: nowrap;
  vertical-align: top; 
  justify-content: center;
}
 
 .quantity.buttons_added input {
  display: inline-block;
  margin: 0;
  vertical-align: top;
  box-shadow: none;
 }
 .plus, .minus{
  color: white;
 }

 .quantity.buttons_added .minus,
 .quantity.buttons_added .plus {
  padding: 7px 10px 8px;
  height: 41px;
  background-color: #000000;
  border: 1px solid #000000;
  cursor:pointer;
}
 
 .quantity.buttons_added .minus {
  border-right: 0; }
 
 .quantity.buttons_added .plus {
  border-left: 0; }
 
 .quantity.buttons_added .minus:hover,
 .quantity.buttons_added .plus:hover {
  background: #afafaf; 
  color: black;

}
 
 .quantity input::-webkit-outer-spin-button,
 .quantity input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  margin: 0; }
  
  .quantity.buttons_added .minus:focus,
 .quantity.buttons_added .plus:focus {
  outline: none; }
  /*Boton añadir a bolsa*/
  .boton_personalizado2{
    display: flex;
    justify-content: center;
    text-decoration: none;
    padding: 10px;
    font-weight: 600;
    font-size: 20px;
    color: #ffffff;
    background-color: #000000;
    border-radius: 6px;
    border: 2px solid #000000;
    width: 40%;
    margin-left: 30%;
    
  }
  .boton_personalizado2:hover{
    color: #000000;
    background-color: #afafaf;
  }
  /*Responsive Galeria detalle*/
@media screen and (max-width: 600px) {
  .gorra-name{
    margin-top: 150px;
  }
  .columnD {
    width: 100%;
  }
  .detalles-gorra{
    margin-left: 5%;
  }
  #featured{
    max-width: 100%;
    max-height: 300px;
    object-fit: cover;
    cursor: pointer;
    box-shadow: 2px 2px 2px 1px rgb(0, 0, 0,40%);
    text-align: center;
  }
  .cantidad{
    margin-top: 10%;
    margin-bottom: 10%;
  }
  .boton_personalizado2{
    width: 65%;
    margin-left: 17.5%;
  }
}
/*Conocenos*/
.d-article{
  margin-top: 15%;
  margin-bottom: 10%;
}
.title-article{
  text-align: center;
  font-size: 30px;
}
.imision{
  float: left;
  width: 15%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.tmision{
margin: 3%;
text-align: left;
}
.ivision{
  float: right;
  width: 15%;
  margin-left: 25px;
  margin-right: 25px;
  margin-bottom: 25px;
}
.tvision{
margin: 3%;
text-align: right;
}
@media screen and (max-width:600px) {
  .d-conocenos{
    margin-top: 45%;
  }
  .ivision{
    width: 30%;
  }
  .imision{
    width: 30%;
  }
}
/*animacion texto conocenos*/
.slide-bottom {
	-webkit-animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

 @-webkit-keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}
@keyframes slide-bottom {
  0% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
/*iconos conocenos*/
.page-icons{
  position: relative;
  top: 5px;
}
.titulos-soporte{
  text-align: center;
  font-size: 25px;
  margin-bottom: 3%;
}
.sub-titulos-soporte{
  margin: 5%;
}
.respuesta{
  text-align: left;
  margin: 1%;
}

.pregunta, .pregunta-li{
  font-size: 25px;
  list-style: none;
}
.parrafo-soporte{
  text-align: center;
  margin: 3%;
}
@media screen and (max-width:600px) {
  .d-article{
    margin-top: 45%;
  }
  .sub-titulos-soporte{
    margin-left: 10%;
  }
  .parrafo-conocenos, .parrafo-soporte {
    margin: 5%;
  }
  .titulos-soporte{
    font-size: 23px;
  }
}

/* Categorías*/

.d-categorias{
  margin-top: 15%;
  margin-bottom: 10%;
}
.title-categorias{
  text-align: center;
  font-size: 30px;
}

.menu {

  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.8);
  display: inline-block;
  cursor: pointer;
  pointer-events: none;
  position: relative;
  top: 60px;
  left: 280px;
  
}
.menu:hover {
  pointer-events: all;
}
.label {
  display: inline-block;
  cursor: pointer;
  pointer-events: all;
  color: white;
  background-color: black;
  padding: 8px;
  border-radius: 8px;
  font-size: 16px;
  transition-duration: 0.4s;
}
.label:hover{
  color: black;
  background-color: white;
  box-shadow: 0 6px 8px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.spacer {
  display: inline-block;
  width: 30px;
  margin-left: 15px;
  margin-right: 15px;
  vertical-align: middle;
  cursor: pointer;
  position: relative;
}
.spacer:before {
  content: "";
  position: absolute;
  border-bottom: 1px solid #000000;
  height: 1px;
  width: 0%;
  transition: width 0.25s ease;
  transition-delay: 0.7s;
}
.item {
  position: relative;
  display: inline-block;
  margin-right: 30px;
  top: 10px;
  opacity: 0;
  transition: opacity 0.5s ease, top 0.5s ease;
  transition-delay: 0;
}
span {
  transition: color 0.5s ease;
}
.item:hover span {
  color: #ff0000;
}
.menu:hover .spacer:before {
  width: 100%;
  transition-delay: 0s;
}
.menu:hover .item {
  opacity: 1;
  top: 0px;
}
.item:nth-child(1) {
  transition-delay: 0.45s;
}
.item:nth-child(2) {
  transition-delay: 0.4s;
}
.item:nth-child(3) {
  transition-delay: 0.35s;
}
.item:nth-child(4) {
  transition-delay: 0.3s;
}
.item:nth-child(5) {
  transition-delay: 0.25s;
}
.item:nth-child(6) {
  transition-delay: 0.2s;
}
.item:nth-child(7) {
  transition-delay: 0.15s;
}
.item:nth-child(8) {
  transition-delay: 0.1s;
}
.item:nth-child(9) {
  transition-delay: 0.05s;
}
.item:nth-child(10) {
  transition-delay: 0s;
}
.menu:hover .item:nth-child(1) {
  transition-delay: 0.25s;
}
.menu:hover .item:nth-child(2) {
  transition-delay: 0.3s;
}
.menu:hover .item:nth-child(3) {
  transition-delay: 0.35s;
}
.menu:hover .item:nth-child(4) {
  transition-delay: 0.4s;
}
.menu:hover .item:nth-child(5) {
  transition-delay: 0.45s;
}
.menu:hover .item:nth-child(6) {
  transition-delay: 0.5s;
}
.menu:hover .item:nth-child(7) {
  transition-delay: 0.55s;
}
.menu:hover .item:nth-child(8) {
  transition-delay: 0.6s;
}
.menu:hover .item:nth-child(9) {
  transition-delay: 0.65s;
}
.menu:hover .item:nth-child(10) {
  transition-delay: 0.7s;
}

/*Productos*/
.product {
  position: relative;
  margin: 15px 5px;
  -webkit-box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  box-shadow: 0px 0px 0px 0px #E4E7ED, 0px 0px 0px 1px #E4E7ED;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product:hover {
  -webkit-box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
  box-shadow: 0px 0px 6px 0px #E4E7ED, 0px 0px 0px 2px #D10024;
}

.product .product-img {
  position: relative;
}

.product .product-img>img {
  width: 100%;
}

.product .product-img .product-label {
  position: absolute;
  top: 15px;
  right: 15px;
}

.product .product-img .product-label>span {
  border: 2px solid;
  padding: 2px 10px;
  font-size: 12px;
}

.product .product-img .product-label>span.sale {
  background-color: #FFF;
  border-color: #D10024;
  color: #D10024;
}

.product .product-img .product-label>span.new {
  background-color: #D10024;
  border-color: #D10024;
  color: #FFF;
}

.product .product-body {
  position: relative;
  padding: 15px;
  background-color: #FFF;
  text-align: center;
  z-index: 20;
}

.product .product-body .product-category {
  text-transform: uppercase;
  font-size: 12px;
  color: #8D99AE;
}

.product .product-name {
  
  
  text-align: center;
  font-size: 24px;
  

}

.product .product-name>a {
  
  color:#000000;
  font-weight: 700;
  text-decoration: none;
}

.product  .product-name>a:hover, .product .product-name>a:focus {
  color: #D10024;
}

.product .product-body .product-price {
  color: #D10024;
  font-size: 18px;
}

.product .product-body .product-price .product-old-price {
  font-size: 70%;
  font-weight: 400;
  color: #8D99AE;
}


.product .product-body .product-btns>button {
  position: relative;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background: transparent;
  border: none;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover {
  background-color: #E4E7ED;
  color: #D10024;
  border-radius: 50%;
}

.product .product-body .product-btns>button .tooltipp {
  
  position: absolute;
  bottom: 100%;
  left: 50%;
  -webkit-transform: translate(-50%, -15px);
  -ms-transform: translate(-50%, -15px);
  transform: translate(-50%, -15px);
  width: 150px;
  padding: 10px;
  font-size: 12px;
  line-height: 10px;
  background: #1e1f29;
  color: #FFF;
  text-transform: uppercase;
  z-index: 10;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.2s all;
  transition: 0.2s all;
}

.product .product-body .product-btns>button:hover .tooltipp {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(-50%, -5px);
  -ms-transform: translate(-50%, -5px);
  transform: translate(-50%, -5px);
}
.row2{
  display: flex;
}
@media screen and (max-width:600px) {
  .d-categorias{
    margin-top: 45%;
  }
  .row2{
    display: block;
  }
  .menu{
    top: 15px;
    left: 10%;
    display: grid;
    width: 80%;
  }
  .label{
    text-align: center;
  }
  .spacer{
    width: 100%;
    margin-top: 3%;
    margin-bottom: 5%;
    margin-left: 0px;
    margin-right: 0px;
  }
  .item{
    text-align: center;
    margin-right: 0px;
  }
  .product{
    margin-top: 5%;
  }
}
/*Botones añadir a la bolsa y ver detalles*/ 
.btns{
  text-align: center;
}
.add-to-wishlist{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  transition: 0.3s;
  width: 90%;
  font-size: 15px;
}
.add-to-wishlist:hover{
  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
.quick-view{
  color: black;
  background-color: white;
  border-radius: 5px;
  padding: 2%;
  cursor: pointer;
  margin: 2%;
  transition: 0.3s;
  width: 90%;
  font-size: 15px;
}
.quick-view:hover{
  background-color: white;
  box-shadow: 0 3px 4px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}
/*Estilo Administrador*/
.body-admin{
  background-color: black;
}
.admin{
  text-align: center;
}
.logo-admin{
width: 10%;
margin-top: 5%;
}
.text-admin{
  color: white;
  margin: 3%;
}
.li-admin{
  margin: 2.5%;
}
.li-button{
  margin-top: 5%;
}
.boton_personalizado-admin{
  text-decoration: none;
  padding: 10px 90px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #3ba77d;
  border-radius: 6px;
  border: 2px solid #3ba77d;
}
.boton_personalizado-admin:hover{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.input{
  font-size: 25px;
  padding: 1%;
  border-style: solid;
  width: 70%;
}
@media screen and (max-width:600px) {
  .logo-admin{
    width: 25%;
    margin-top: 10%;
  }
  .li-admin{
    margin: 5%;
  }
  .input{
    width: 100%;
  }
  .boton_personalizado-admin{
    padding: 10px 50px;
  }
}
/*edit admin*/
.bxs-edit-alt{
  color: #ffffff;
  z-index: 300;
  font-size: 200px;
}
.dropbtn {
  background-color: #2dffff;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 100%;
}

.dropbtn:hover, .dropbtn:focus {
  background-color: #000000;
}

.dropdown {
  position: fixed;
  top: 30%;
  left: 5%;
  z-index: 300;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: relative;
  top: -135px;
  left: 100%;
  background-color: #f9f9f9;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

.dropdown-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  background: black;
}

.dropdown-content a:hover {
  color: black;
  background-color: #ffffff
}

.showEdit {display:block;}
@media screen and (max-width: 600px) {
  .bxs-edit-alt{
    font-size: 50px;
  }
  .dropdown{
    width: 50%;
  }
  .dropdown-content{
    top: -70px;
    left: 50%;
  }
}
/*panel admin*/
.panel{
  margin: 5%;
  margin-top: 15%;
}
.boton_personalizado-admin3{
  text-decoration: none;
  padding: 10px 90px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #3ba77d;
  border-radius: 6px;
  border: 2px solid #3ba77d;
}
.boton_personalizado-admin3:hover{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
.boton_personalizado-admin2{
  text-decoration: none;
  padding: 10px 149px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #3ba77d;
  border-radius: 6px;
  border: 2px solid #3ba77d;
}
.boton_personalizado-admin2:hover{
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}
/* Boton editar productos*/
.dropbtn2 {
  background-color: #3ba77d;
  color: white;
  padding: 10px 149px;
  font-weight: 600;
  font-size: 20px;
  border-radius: 6px;
  cursor: pointer;
  border: 2px solid #3ba77d;
}

.dropbtn2:hover, .dropbtn2:focus {
  color: #000000;
  background-color: #ffffff;
  border: 2px solid #ffffff;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown2-content {
  display: none;
  position: absolute;
  background-color: #000000;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown2-content a {
  color: rgb(255, 255, 255);
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  border-radius: 6px;
}

.dropdown2 a:hover {
  background-color: #ddd;
  color: #000000;
}

.showP {display: block;}
@media screen and (max-width:600px) {
  .boton_personalizado-admin2{
    padding: 10px 69px;
  }
  .boton_personalizado-admin3{
    padding: 10px 10px;
  }
  .li-button{
    margin-top: 15%;
  }
}
.form{
  text-align: center;
  margin-bottom: 2%;
}
.input-text-edit{
  font-size: 15px;
  padding: 1%;
  border-style: solid;
  width: 90%;
  height: 200px;
  margin: 2%;
}
.input-text-edit-c{
  font-size: 15px;
  padding: 1%;
  border-style: solid;
  width: 70%;
  height: 200px;
  margin: 5px 16px;
}
/*Estilo seccion facturacion*/
.body-factura{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 17px;
}
* {
  box-sizing: border-box;
}
.logo-factura{
  margin: 1%;
  width: 8%;
}
.info-contacto{
  text-align: center;
  margin: 4%;
}
.row3 {
  display: -ms-flexbox; /* IE10 */
  display: flex;
  -ms-flex-wrap: wrap; /* IE10 */
  flex-wrap: wrap;
  margin: 0 -16px;
}
.section{
  margin: 2%;
}

.col-25 {
  -ms-flex: 25%; /* IE10 */
  flex: 25%;
}

.col-50 {
  -ms-flex: 50%; /* IE10 */
  flex: 50%;
}

.col-75 {
  -ms-flex: 75%; /* IE10 */
  flex: 75%;
}

.col-25,
.col-50,
.col-75 {
  padding: 0 16px;
}

.container2 {
  background-color: #e7e7e7;
  padding: 5px 20px 15px 20px;
  border: 1px solid lightgrey;
  border-radius: 3px;
}

input[type=text] {
  width: 100%;
  margin-bottom: 20px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

label {
  margin-bottom: 10px;
  display: block;
}

.icon-container {
  margin-bottom: 20px;
  padding: 7px 0;
  font-size: 24px;
}

.btn {
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 100%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}

.btn:hover {
  background-color: #ffffff;
  color: black;
}

hr {
  border: 1px solid lightgrey;
}

span.price {
  float: right;
  color: grey;
}
@media (max-width: 800px) {
  .logo-factura{
    margin: 4%;
    width: 20%;
  }
  .row3 {
    flex-direction: column-reverse;
    margin: 0;
  }
  .col-25 {
    margin-bottom: 20px;
  }
}
.img-pago{
  width: 40%;
}
.costoEnvio{
  border-style: solid;
  padding: 1%;
  margin: 1%;
  border-width: 1px;
}
/*Factura*/
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.links-factura {
  text-decoration: none;
}

.body-fac {
  position: relative;
  width: 21cm;  
  height: 29.7cm; 
  margin: 0 auto; 
  color: #001028;
  background: #FFFFFF; 
  font-family: Arial, sans-serif; 
  font-size: 12px; 
  font-family: Arial;
}

.header {
  padding: 10px 0;
  margin-bottom: 30px;
}

#logo {
  text-align: center;
  margin-bottom: 10px;
}

#logo img {
  width: 90px;
}

.h1-fact {
  border-top: 1px solid  #5D6975;
  border-bottom: 1px solid  #5D6975;
  color: #5D6975;
  font-size: 2.4em;
  line-height: 1.4em;
  font-weight: normal;
  text-align: center;
  margin: 0 0 20px 0;
}

#datosCliente {
  float: left;
}

#datosCliente span {
  color: #5D6975;
  text-align: right;
  width: 52px;
  margin-right: 10px;
  display: inline-block;
  font-size: 0.8em;
}

#empresa {
  float: right;
  text-align: right;
}

#datosCliente div,
#empresa div {
  white-space: nowrap;        
}

table {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 20px;
}

table tr:nth-child(2n-1) td {
  background: #F5F5F5;
}

table th,
table td {
  text-align: center;
}

table th {
  padding: 5px 20px;
  color: #5D6975;
  border-bottom: 1px solid #C1CED9;
  white-space: nowrap;        
  font-weight: normal;
}

table .articulo,
table .desc {
  text-align: left;
}

table td {
  padding: 20px;
  text-align: right;
}

table td.articulo,
table td.desc {
  vertical-align: top;
}

table td.unid,
table td.qty,
table td.total {
  font-size: 1.2em;
}

table td.grand {
  border-top: 1px solid #5D6975;;
}

#notices .notice {
  color: #5D6975;
  font-size: 1.2em;
}

.footer-fact {
  color: #5D6975;
  width: 100%;
  height: 30px;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #C1CED9;
  padding: 8px 0;
  text-align: center;
}
/*Bolsa de compra*/
.menu-bolsa{
  display: block;
}
.row-bolsa{
  margin: 1%;
  display: flex;
  justify-content: space-between;
}
.btn-bolsa-plus{
  background-color: #04AA6D;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 15%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.btn-bolsa-minus{
  background-color: red;
  color: white;
  padding: 12px;
  margin: 10px 0;
  border: none;
  width: 15%;
  border-radius: 3px;
  cursor: pointer;
  font-size: 17px;
}
.td-plus-minus{
  text-align: center;
}
.btn-vc{
  text-align: center;
}
h6{
  text-decoration: line-through;
}
@media (max-width: 800px){
  table{
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
  }
  table th{
    padding: 0;
  }
  .row-bolsa{
    display: block;
  }
  .btn-bolsa-minus, .btn-bolsa-plus{
    width: 50%;
    padding: 0;
  }
  table td{
    text-align: center;
  }
}
.tipo-envio{
  width: 100%;
}